p {
  max-width: 100vw !important; 
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--background-secondary);
  border-radius: .3rem;
}
.lead {
  word-wrap: break-word;
  width: 500px;
  color: var(--font);
}

a {
  color: var(--tertiary);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  cursor: pointer;
}

h1,h2 {
  color: var(--heading);
}
h3,h4,h5 {
  color: Var(--primary);
}
p.lead {
  color: var(--primary);
}

/* utils */
.rounded {
  border-radius: 15px !important;
}

/* cards */
.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-body {
  color: var(--secondary);
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  overflow-x: none;
}