:root {
  --heading: #22262C;

  --primary: #468B87;
  --secondary: #712334;
  --tertiary: #2BB49F;

  --background-primary: #FDFBFB;
  --background-secondary: #e9e8e8;
  --background-tertiary: #ebebeb;
}
