:root {
  --primary: #DDC3E7;
  --secondary: #7790CF;
  --tertiary: #3B4D67;

  --accent: #BF2D52;
  --heading: black;
  --font: #161616;

  --bg-primary: white;
  --bg-secondary: white;
  --bg-tertiary: white;
}

body {
  color: var(--font);
}

h1,h2,h3,h4,h5 {
  color: var(--heading);
  font-family: 'Inter', sans-serif;
}

.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.tertiary {
  color: var(--tertiary);
}

.bg-bg-primary {
  background-color: var(--bg-primary);
}
.bg-bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-bg-tertiary {
  background-color: var(--bg-tertiary);
}